/* GENERIC */

ul{
    list-style-type: none;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

/* HEADER */

header nav{
    height: 60px;    
}

#my-searchbar{
    background-color: #e5e5e5;
}

/* SIDEBAR - SIDENAV */

.my-sidenav{
    height: calc( ( var(--fix-vh) * 100 ) - 60px);
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    color: white;
    position: fixed;
    top: 60px;
    left: 0;
}

.my-sidenav li:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.my-sidenav li a:hover{
    color: white;
}

#sidenav-wrapper-desktop{
    width: 150px;
}

#sidenav-wrapper-mobile{
    width: 65px;
}

/* MAIN */

main{
    height: calc( ( var(--fix-vh) * 100 ) - 60px);
    overflow-y: auto;
    margin-left: 65px;
}

@media screen and (min-width: 992px){
    main{
        margin-left: 150px;
    }
}

/* CLASSROOM TABLE CARD */

.my-table-icon{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid grey;
    color: grey;
}

.my-table-icon:hover{
    color: black;
    cursor: pointer;
}

/* CHECK CARD */

#check-card *:hover{
    cursor: pointer;
}

/* OFFCANVAS */

.my-offcanvas-size {
    width: 100% !important;
}

@media screen and (min-width: 992px) {
    
    .my-offcanvas-size {
        width: 50% !important;
    }
}
